{% extends "base.html" %}

{% block title %}タスク作成{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="mx-auto" style="max-width: 500px;">
      <h2>タスク作成</h2>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <form action="{{ url_for('task_create') }}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">タイトル</label>
          <input type="text" maxlength="100" name="title" id="title" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">メモ（任意）</label>
          <textarea name="description" maxlength="1000" id="description" rows="5" cols="20" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <label for="due_date" class="form-label">期限（任意）</label>
          <input type="date" name="due_date" id="due_date" class="form-control"/>
        </div>
        <div class="mb-3">
          <label for="priority" class="form-label">優先度</label>
          <select name="priority" class="form-select">
            <option value="high">高</option>
            <option value="medium" selected>中</option>
            <option value="low">低</option>
          </select>
        </div>
        <div class="d-grid gap-2 mx-auto mt-4">
          <button type="submit" class="btn btn-primary">登録する</button>
        </div>
      </form>

      <a class="btn btn-outline-primary mt-4" href="{{ url_for('tasks') }}">一覧へ戻る</a>
    </div>
  </div>
{% endblock %}